BQ_PROJECT: "YOUR_PROJECT_ID"
BQ_DATASET: "kobo_data"
BQ_TABLE: "kobo_post_survey"
SHEET_NAME: "Kobo Pipeline Data"
SHEET_TAB: "Survey Data"
SYNC_MODE: "append"
MAX_SHEET_ROWS: "10000"
TEST_KEYWORDS: "test,testing,demo,sample,dummy"